<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todoS</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link href="app.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <header>
            <h1> todoS</h1>
        </header>
        
        <section>
            <p><input type="text" placeholder="Task" id="todoInput"></p>
        </section>


        <ul class = 'list'>
            
        </ul>
    </div>

<script src="app.js" type="text/javascript"></script>
</body>
</html>